@import 'global/fonts';

$color--primary: #000000;
$color--secondary: #FFFFFF;
$font--primary: 'Helvetica', sans-serif;
$content-width: 1366px;

@import 'global/mixins';
@import 'global/normalize';
@import 'global/form';
@import 'global/base';

@import 'components/header';
@import 'components/off-canvas';
@import 'components/footer';
