::selection {
  color: $color--secondary;
  background: lighten($color--primary, 10%);
}

body {
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  color: $color--primary;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2;
} 

p, ul, li, ol, div, table {
  font-family: $font;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
}

a {
  font-family: $font;
  color: $color--primary;
}

